.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(241, 247, 237, 0);
  height: 120px;
  width: 120px;
  border: 3px solid #0c0b0b;
  border-radius: 50%;
  margin: auto;
}

.button:hover {
  transform: scale(1.1);
  border: 3px solid #177E89;
}

.button:active {
  transform: scale(1.1);
  border: 3px solid #F1F7ED;
  background: rgba(241, 247, 237, 0.05);
}